<div class="group">
  <%= f.label :_type %><%= f.error_message_on :_type %>
  <%= f.text_field :_type, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :_id %><%= f.error_message_on :_id %>
  <%= f.text_field :_id, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :uid %><%= f.error_message_on :uid %>
  <%= f.text_field :uid, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :garmin_id %><%= f.error_message_on :garmin_id %>
  <%= f.text_field :garmin_id, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :post_to_twitter %><%= f.error_message_on :post_to_twitter %>
  <%= f.check_box :post_to_twitter, :class => :check_box %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :post_to_facebook %><%= f.error_message_on :post_to_facebook %>
  <%= f.check_box :post_to_facebook, :class => :check_box %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :already_sync_url %><%= f.error_message_on :already_sync_url %>
  <%= f.text_field :already_sync_url, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :raw_runkeeper_auth %><%= f.error_message_on :raw_runkeeper_auth %>
  <%= f.text_field :raw_runkeeper_auth, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:users, :index)}';return false", :class => :button %>
</div>
