
<%= partial 'home/on_user_script'%>

<div class='container'>

  <%= partial 'home/logout_form' %>

  <div class='row'>
    <div class='span8 offset2'>
      <div id='connect_to_garmin' class='actions'>
        <h3>Garmin Account</h3>
        <%= partial 'home/garmin_info'%>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='span8 offset2'>
      <div class='arrow'><%=image_tag url('/img/arrow.png'), :width => '50', :height => '55', :alt => ''%></div>
    </div>
  </div>

  <div class='row'>
    <div class='span8 offset2'>
      <div id='connect_to_runkeeper' class='actions'>
        <h3>RunKeeper Account</h3>
        <%= partial 'home/runkeeper_info'%>
      </div>
    </div>
  </div>

</div>