
<%= partial 'home/off_user_script'%>

<div class='container'>

  <div class='row'>
    <div class='span8 offset2'>
      <div id='connect_to_garmin' class='actions disabled'>
        <h3><%= image_tag url('/img/gc-logo.png'), :alt => 'Garmin Connect', :width => '210', :height => '70'%></h3>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='span8 offset2'>
      <div class='arrow'><%=image_tag url('/img/arrow.png'), :width => '50', :height => '55', :alt => ''%></div>
    </div>
  </div>

  <div class='row'>
    <div class='span8 offset2'>
      <div id='connect_to_runkeeper' class='actions'>
        <h3><%= image_tag url('/img/rk-logo.png'), :alt => 'RunKeeper', :width => '205', :height => '40'%></h3>
        <%= partial 'home/connect_info'%>
      </div>
    </div>
  </div>

  <!--<div class='row'>
    <div class='span8 offset2'>
      <div id='advanced_options' class='actions disabled'>
        <h3>Advanced Options</h3>
      </div>
    </div>-->
  </div>

</div>


